<div class="navigation">
  <ul>
    <a href="/"><li>Dashboard</li></a>
    <a href="/add-employees">
      <li>Add Employees</li>
    </a>
    <a href="/view-employees">
      <li>View Employees</li>
    </a>
    <a
      href="/view-employees"
      onclick="alert('Update Employee Data From View Employee Page.');"
    >
      <li>Update Employees</li>
    </a>
  </ul>
</div>
